
html,
body {
  min-height: 100%;
}

/* html {
  background: url(assets/cover-image1.jpg) no-repeat center center fixed; 
  background-size: cover
  } */

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
     'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: purple;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
	margin: 0 auto;
	max-width: 100%;
  padding: 10px 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  
}

h1, h3 {
  font-weight: bold;
}

header {
  width: 100%;
  top: 0;
  margin: 0 auto;
}

